.sidebar {
    min-width: 200px;
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  .category-list {
    list-style-type: none;
    padding: 0;
  }

  
  .category-list li {
    margin-bottom: 10px;
  }

  .catlist-hover:hover{
    border-left: 2px solid green;
  }
  .name-hover:hover{
    padding-left: 30px;
    transition: 1s;
  }
  .subcatlist-hover:hover{
    border-bottom: 2px solid rgb(255, 166, 0);
  }

  
  .category-list button {
    width: 100%;
    text-align: left;
    padding: 10px;
    background-color: #e9ecef;
    border: none;
    cursor: pointer;
  }
  
  .subcategory-list {
    list-style-type: none;
    padding-left: 20px;
  }
  
  .subcategory-list li {
    padding: 5px 0;
  }
  .search-container {
    display: flex;
    margin: 20px 0;
    width: 400px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
  }
  .search-input:focus {
    outline: none;
  }
  
  .search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    width: 70%;
  }
  
  .search-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: 1px solid #4CAF50;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #45a049;
  }
 