.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
  }
  
  .left-section {
    display: flex;
    justify-content:flex-start;
    gap: 40px;
    align-items: center;
  }
  
  .company-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 2rem;
    padding: 3px;
    border: 1px solid rgb(25, 219, 25);
    color: #868686;
    border-radius: 5px;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    margin-right: 1rem;
  }

  nav ul li:hover{
    border-bottom:2px solid orange;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .right-section {
    display: flex;
    align-items: center;
  }
  
  .profile-link {
    text-decoration: none;
    color: #333;
    margin-right: 1rem;
  }
  
  .logout-button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
button{
  background-color: transparent;
  border: none;
}

.model-div {
  margin-bottom: 15px;
}

.model-div label {
  display: inline-block;
  width: 120px;
  font-weight: bold;
}

.model-div input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.model-div input[type="password"] {
  font-family: monospace;
}

.ml-3 {
  margin-left: 10px;
}
.cart-link {
  position: relative;
  text-decoration: none;
  color: rgb(77, 77, 77);
  padding-right: 25px; /* Make space for the count */
}

.cart-count {
  position: absolute;
  top: -10px;
  right: 2px;
  background-color: #4CAF50; /* Green background */
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
  min-width: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

  

  
  
  
  
  /* .logout-button:hover {
    background-color: #0056b3;
  } */